{% extends 'blog/base.html' %}

{% block content %}

<div>
  {% if user.is_authenticated %}
    <div>username: {{ user.username }}</div>
    <div>email: {{ user.email }}</div>
    <div>address: {{ user.account.address }}</div>
    <div>phone: {{ user.account.phone }}</div>
  {% else %}
    No user
  {% endif %}
</div>

<hr/>

<div>
  <div>내가 작성한 글</div>
  <div>
    {% if posts.count %}
      <ul>
        {% for post in posts %}
            <a href="#">
              <li>{{post.get_post_status_display}} - ({{ post.get_post_type_display }}) {{ post.title }}</li>
            </a>

            {% if post.apply_user.count %}
              {% for applier in post.apply_user.all %}
                <ul>
                  <li>{{ applier.username }}</li>
                </ul>
              {% endfor %}

            {% else %}
              No apply user
            {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      No post
    {% endif %}
  </div>
</div>

<div>
  내가 거래 신청한 글
</div>

{% endblock %}