{% extends 'blog/base.html' %}
{% block content %}

    <div>
        <a href="{% url 'accounts:profileView' %}"><button class='btn btn-default'>profile</button></a>
    </div>
    {{ mainTheme }}
    <div>
        <ul>
            {% for theme in mainTheme.related_mid_theme.all %}
                <li>{{ theme.title }}</li>
                    <ul>
                        {% for sub_theme in theme.related_sub_theme.all %}
                            <a href="{% url 'category:all_list' sub_theme.pk %}"><li>{{ sub_theme.title }}</li></a>
                        {% endfor %}
                    </ul>
            {% endfor %}
        </ul>
    </div>
{% endblock %}