{% extends 'blog/base.html' %}

{% block content %}

<div id='titleDiv'>Title : {{ post.title }}</div>

{% if post.apply_user.count %}
  <div>{{ post.get_post_status_display }}({{ post.apply_user.count }})</div>
{% else %}
  <div>{{ post.get_post_status_display }}</div>
{% endif %}

<hr/>
<div id='authorDiv'>author: {{ post.author }}</div>
<div id='postTypeDiv'>post type: {{ post.post_type }}</div>
<div id='subThemeDiv'>theme: {{ post.sub_theme.title }}</div>
<div id='priceDiv'>price: {{ post.price }}won</div>
<div id='dateDiv'>date: {{ post.created_at|date:'Y.n.d  a h:i' }}</div>
<hr/>

<div id='thumbnailDiv'>
  <img src='{{ post.thumbnail.url }}' style='width: 300px; height: 200px;'/>
</div>

<hr/>

<div id='contentDiv'>
</div>

<script>
    var a = '{{ post.content }}';
    console.log(a);
    document.getElementById('contentDiv').innerHTML = a.replace(/&lt;/gi, '<').replace(/&gt;/gi, '>').replace(/&quot;/gi, '"');
</script>

<div id='applyDiv'>
  <form action="{% url 'category:apply_post' post.pk %}" method='POST'>
    {% csrf_token %}
    <button type='submit'>거래 신청</button>
  </form>
</div>
<hr/>

<div id='commentFormDiv'>
  <form action='' method='POST'>
    {% csrf_token %}
    {{ commentForm.as_p }}
    <button type='submit'>댓글작성</button>
  </form>
</div>

<div id='commentsDiv'>
  {% if post.related_comment.count %}
    {% for comment in post.related_comment.all %}
      <div>
        <div style='display: inline-block;'>{{ comment.author }}</div> |
        <div style='display: inline-block;'>{{ comment.created_at|date:'Y.n.d  a h:i' }}</div>
        <div>{{ comment.content }}</div>
      </div>
      <hr/>
    {% endfor %}
  {% else %}
   <div>No comment</div>
  {% endif %}
</div>
{% endblock %}